@import "./variable";

body {
  font-family: Arial, sans-serif;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem;
  min-width: 100%;
}

.navbar {
  background-color: $primary-color;
  color: white;
  padding: 0.5rem 1rem;
}

.filter-panel {
  margin-bottom: 1rem;
}
